@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5efd3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p{
  font-family: 'Amatic SC', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  pointer-events: none;
}